.navbar-fixed nav {
    background-color: #AD1457 !important;
}

.btn-floating {
    background-color: #AD1457 !important;
}

.tabs {
    background-color: #E91E63!important;
}

.btn,
.btn-large {
    background-color: #E91E63;
}