.navbar-fixed nav {
    background-color: #00695C !important;
}
.btn-floating {
    background-color: #00695C !important;
}
.tabs {
    background-color: #00897B!important;
}
.btn,
.btn-large {
    background-color: #00897B;
}
